.container{
    iframe{
        width: 100%;
        height: 600px;
    }

    .piece{
        display: flex;
        justify-content: space-between;
    }

    input{
        width: 70%;
    }


   .dark{
      .container{
        .contacts{
            color: #fff !important;
        }
      }
   }
}