header{
    height: 80px;
   
    .container{
        height: 70px;
        @include flex();

        nav{
              width: 30%;
              height: 30px;
            ul{
                @include flex();

                    li{
                    @include style();
                }
            }
        }


        .login{
            width: 30%;
            @include flex();

            a{
                @include style();
            }

            svg{
                font-size: 20px;
            }

            .search{
                background: none;
                color: #000;
                border: none;
            }

            .btn-outline-secondary{
                background-color: #413d3d;
                color: #fff;
            } 
        
        }
         
    }
}


.dark{

    .nav-link{
        color: #fff !important;
    }

    .register{
        color: #fff !important;
    }

    .fa-regular{
        color: #fff !important;
    }

    .cart{
        color: #fff !important;
    }

    .fa-solid{
        color: #fff !important;
    }

    .basket{
        color: #fff !important;
    }
}