.product{
    
    img{
        width: 100px;
        height: 100px;
    }

    div{
        display: flex;
    }
}
.button{

    button{
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    transition: .5s;
   }

   button:hover{
     background-color: #000;
     color: #fff;
   }
}

.compare{

    .clear{
        background: none;
        border: none;
        font-size: 13px;
    }

    .compare{
        margin-left: 80px;
        padding: 5px 30px 5px 30px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
    }
}

li{
    @include style();

    a{
        @include style();

    }
}

a{
    @include style();
}
